{% load static %}
{% load blog_tags %}


<div id="index-body">
  <!-- Pictures Navigation table -->
  <div class="table-responsive">
    <table class="table text-center">
      <thead>
        <tr>
          {% for key, value in Category_Dict.items %}
          {% if forloop.first%}
          <td><a class="link active" href="#category{{key.id}}" data-toggle="tab">{{key}}</a></td>
          {% else %}
          <td><a class="link" href="#category{{key.id}}" data-toggle="tab">{{key}}</a></td>
          {% endif %}
          {% endfor %}
          <td><a class="link" href="{% url 'blog:home' %}" >More Posts</a></td>
        </tr>
      </thead>
    </table>
    <hr>
  </div>
  <!-- Navigation Table Content -->
  <div class="tab-content">

    <!-- First Category pictures -->
    {% for key, value in Category_Dict.items %}
    {% if forloop.first %}
    <div id="category{{key.id}}" class="tab-pane active">
      <div class="row popup-gallery">
        {% for post in value %}
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="sol">
            <img class="img-responsive" src="{{post.Image.url }}" alt="First category picture">
            <div class="behind">
              <div class="head text-center">
                <ul class="list-inline">
                  <br>
                  <br>
                  <li>
                    <a class="gallery" href="{{post.Image.url}}" data-toggle="tooltip" data-original-title="Quick View">
                      <i class="fa fa-eye"></i>
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'blog:post' pid=post.id %}" data-toggle="tooltip" data-original-title="Go To Post">
                      <i class="fa fa-external-link"></i>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="row box-content">
                <ul class="list-inline text-center">
                  <li><i class="fa fa-file-text"></i> {{post.Title}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% else %}
    <div id="category{{key.id}}" class="tab-pane">
      <div class="row popup-gallery">
        {% for post in value %}
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="sol">
            <img class="img-responsive" src="{{post.Image.url }}" alt="First category picture">
            <div class="behind">
              <div class="head text-center">
                <ul class="list-inline">
                  <br>
                  <br>
                  <li>
                    <a class="gallery" href="{{post.Image.url}}" data-toggle="tooltip" data-original-title="Quick View">
                      <i class="fa fa-eye"></i>
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'blog:post' pid=post.id %}" data-toggle="tooltip" data-original-title="Go To Post">
                      <i class="fa fa-external-link"></i>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="row box-content">
                <ul class="list-inline text-center">
                  <li><i class="fa fa-file-text"></i> {{post.Title}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}


      </div>
    </div>
    {% endif %}
    {% endfor %}

    <!-- End of First category pictures -->

  </div>
  <!-- End of Navigation Table Content -->

</div><!-- End of Index-body box -->