{% load humanize %}
{% load static %}
{% load blog_tags %}


{% for post in posts %}
<div class="post">
    <div class="post-heading">
      <span>{{post.Published_Date|naturaltime}}</span>
      <a href="{% url 'blog:post' pid=post.id %}">
        <img class="img-responsive" src="{{ post.Image.url }}" alt="post's picture">
      </a>
    </div>
    <div class="post-body">
      <span>
        <i class="fa fa-comments sr-icons"></i> 10
      </span>
      <h4 class="text-left"><a href="{% url 'blog:post' pid=post.id %}"><strong>{{post.Title}}</strong></a></h4>
      <h5 class="text-left">{{post.Content|Shorter_Content:7}}</h5>
    </div>
  </div>
{% endfor %}