{% load static %}
{% load blog_tags%}

<!-- Blocks of Posts -->
<div class="col-xs-12 col-sm-8 row">
  {% for post in posts %}
  <div class="col-xs-12 col-sm-12">
    <div class="post">
      <div class="post-heading">
        <span>{{ post.Published_Date|date:'d M Y'}}</span>
        <img class="img-responsive" src="{{post.Image.url}}" alt="post's picture">
      </div>
      <div class="post-body">
        <h3><a href="{% url 'blog:post' pid=post.id%}"><strong>{{ post.Title }}</strong></a></h3>
        <hr>
        <p>
            {{post.Content|Shorter_Content:35}}
          </p>
        </div>
        <div class="post-footer">
          <a class="btn" href="{% url 'blog:post' pid=post.id%}">READ MORE...</a>
          <span>
            <i class="fa fa-comments sr-icons"></i> 10
          </span>
        </div>
      </div>
    </div>
  {% endfor %}  
    <nav class="text-left">
      <ul class="pagination">
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#" aria-label="suivant">
            <span aria-hidden="true">&raquo;</span>
          </a></li>
      </ul>
    </nav>
  </div>
  <!-- End of Blog Post -->