{% load static %}
<!-- Side bar -->
<div class="col-xs-12 col-sm-4">
  <form class="form-horizontal" action="{% url 'blog:search' %}">
    <div class="input-group">
      <input class="form-control" name="search" type="text" placeholder="Search">
      <span class="input-group-btn">
        <button type="submit" class="btn"><i class="fa fa-search"></i></button>
      </span>
    </div>
  </form>
  <div class="panel">
    <div class="panel-heading">
      <h4>Popular Categories</h4>
    </div>
    <div class="panel-body">
      <ul class="nav">
        {% for cat in category %}
        {% if not forloop.last %}
        <li><a href="{% url 'blog:category' cat=cat %}">{{cat}}</a></li>
        {% else %}
        <li class="last"><a href="{% url 'blog:category' cat=cat %}">{{cat}}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="well">
    <h4>Soluta</h4>
    <p>Quod soluta corrupti earum officia vel inventore vitae quidem, consequuntur odit impedit.</p>
  </div>
  <h3>Recent Posts</h3>
  <hr>

  <div class="post">
    <div class="post-heading">
      <span>10 APRIL</span>
      <img class="img-responsive" src="{% static 'images/blog/wedding.jpg' %}" alt="post's picture">
    </div>
    <div class="post-body">
      <span>
        <i class="fa fa-heart sr-icons"></i> 10
        <i class="fa fa-comments sr-icons"></i> 10
      </span>
      <h4 class="text-left"><a href="single_post.html"><strong>Aliquam soluta</strong></a></h4>
    </div>
  </div>
  
</div>
<!-- End of Side bar -->